$background: #fffffe;
$links: #e45858;
$cardBg: #2b2c34;
*{
    text-decoration: none;
}
header{
    background-color: $cardBg;
    color: $background;
    nav a{
        color: $background;
        transition: 0.3s;
        &:hover{
            text-decoration: none;
            color: $links;
        }
    }
}
#info{
    background-color: #d1d1e9;
    .photo{
        img{
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 15px rgb(122, 122, 122);
        }
    }
}

.video{
    border: 2px solid red;
}
#links{
    background-color: $cardBg;
    color: $links;
   h2{
       
   }
}